@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Lemon Funky';
  src: url('/fonts/Lemon Funky TTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}